.container {
  background-color: #353532;
  height: 100vh;
}

.ulWrapper {
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 15vh;
  color: white;
}

.iconlist {
  color: grey;
  margin-right: 8px;
}
